<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
        <title>QuizHoot</title>
    </head>
    <body class="general">    
        <div class="topbar">
            
            <a href="home_span"> 
                <img src="static/images/icon.png" width="55px">
            </a> 

            <a href="projekte_span">
                <button type="button" class="btn">Proyecto</button>
            </a>

            <form>
                <div class="search">
                    <span class="search-icon material-symbols-outlined">search</span>
                    <input type="search" class="search-input" placeholder="search">
                </div>
            </form>

            <div class="push">
                <div class="dropdown">
                    <button>Idioma</button>
                    <div class="content">
                        <a href="/">Aleman</a>
                        <a href="home_eng">Ingles</a>
                        <a href="home_span">Español</a>
                    </div>

                </div>
            </div>
            
            <a href="registrarse">
                <button type="button" class="btn push-right">Nombre</button>
            </a>

        </div>
        
        <p>&nbsp;</p>

        <div class="welcome">
            <h2>Bienvenido a</h2>
            <h1>QuizHoot</h1>
        </div>
        
        <p>&nbsp;</p>

        <div class="kategorien">
            <div class="dropdown1">
                <button>categoría</button>
                <div class="content2">
                    <a>- popular</a>
                    <a>- nuevo</a>
                    <a>- para ti</a>
                    <a>- deporte</a>
                    <a>- escuela</a>
                    <a>- divertido</a>
                    <a>- naturaleza</a>
                    <a>- arte</a>
                </div>
            </div>
        </div>

        <a href="quiz_1_de">
            <button type="button" class="btn push-center">al cuestionario</button>
        </a>

        <p>&nbsp;</p>

        <div class="right">
            <a href="https://www.apple.com/app-store/">
                <img src="static/images/applespan.png" width="129px">
            </a>

            <a href="https://play.google.com/store/games">
                <img src="static/images/google_span.png" width="150px">
            </a>
        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        
        <div class="schluss">
            <a href="sobrenosotras">
                <button type="button" class="btn"><h6>Sobre nosotras</h6></button>
            </a>

            <p>&nbsp;</p>

            <div class="ig">
                <a href="https://www.instagram.com/quiz.hoot/"> 
                    <img src="static/images/ig.png" width="20px">
                </a>
                
                 <p>&nbsp;</p>
                 
                <p>© 2026 QuizHoot, Inc.</p>
                
            </div>
        </div>

    </body>
</html>
