<!DOCTYPE html>
<html>
<head>
<title>Quiz erstellen</title>
</head>
<body>

<h1>Quiz erstellen</h1>

<form method="post">

Titel:<br>
<input name="title"><br><br>

Frage:<br>
<input name="question"><br><br>

Antwort A:<br>
<input name="a"><br><br>

Antwort B:<br>
<input name="b"><br><br>

Antwort C:<br>
<input name="c"><br><br>

Richtige Antwort (a,b,c):<br>
<input name="correct"><br><br>


    <li>
        <a href="/quiz_1_de">
            <button type="submit">Quiz speichern</button>
        </a>
    </li>


</form>

<br>
<a href="quiz_1_de.html">Zurück</a>

</body>
</html>