<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
        <title>QuizHoot</title>
    </head>
    <body class="general">    
        <div class="topbar">
            
            <a href="/"> 
                <img src="static/images/icon.png" width="55px">
            </a> 

            <a href="projekte_de">
                <button type="button" class="btn">Projekte</button>
            </a>

            <form>
                <div class="search">
                    <span class="search-icon material-symbols-outlined">search</span>
                    <input type="search" class="search-input" placeholder="search">
                </div>
            </form>

            <div class="push">
                <div class="dropdown">
                    <button>Sprache</button>
                    <div class="content">
                        <a href="ueberuns">Deutsch</a>
                        <a href="aboutus">Englisch</a>
                        <a href="sobrenosotras">Spanisch</a>
                    </div>
                </div>
            </div>
            
            <button type="button" class="btn push-right">Name</button>

        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>

         <div class="container">
            <div class="text">
                <h3>Was ist QuizHoot eigentlich?</h3>
                <p> QuizHoot ist eine digitale Plattform, auf der Nutzerinnen und Nutzer eigene Quizfragen erstellen, bearbeiten, organisieren und mit anderen teilen können. Die Anwendung wurde speziell dafür entwickelt, Lernprozesse interaktiv, abwechslungsreich und motivierend zu gestalten. Lehrkräfte haben die Möglichkeit, individuelle Quizze zu verschiedenen Themenbereichen zu erstellen und diese gezielt im Unterricht einzusetzen - sei es zur Wiederholung von Lerninhalten, zur Vorbereitung auf Prüfungen oder zur Wissensüberprüfung nach einer Unterrichtseinheit. Schülerinnen und Schüler können die Quizze entweder alleine oder gemeinsam bearbeiten. Dadurch wird nicht nur das Fachwissen gefestigt, sondern auch Teamarbeit, Konzentration und schnelles Denken gefördert. Durch die digitale Umsetzung ist es möglich, Ergebnisse direkt auszuwerten und ein sofortiges Feedback zu erhalten. Das steigert die Motivation und hilft dabei, Wissenslücken frühzeitig zu erkennen.</p>
            </div>
            <div class="image"> 
                <img src="static/images/Schwarzer_MAnn_Verzweifelnd.png" width="400px">   
            </div>
        </div>    
        
        

        <p>&nbsp;</p>
        

        <div class="container">
            <div class="image"> 
                <img src="static/images/logo.svg" width="400px">   
            </div>
            <div class="text">
                <h3> Wer sind wir? </h3>
                <p> Wir sind zwei Schüler von der <a href="https://www.koenigin-luise-stiftung.de/">Königin-Luise-Stiftung</a> und besuchen derzeit die Qualifikationsphase der gymnasialen Oberstufe. Wir sind 17 und 16 Jahre alt und bereiten uns aktuell intensiv auf das Abitur vor. Ein besonderer Schwerpunkt unserer schulischen Arbeit liegt im Fach Informatik, das wir beide belegen und mit großem Interesse verfolgen.</p>
                <p> Besonders begeistert uns das Programmieren, weil man damit eigene Ideen in funktionierende Anwendungen und Projekte umsetzen kann. Wir beschäftigen uns gern mit verschiedenen Programmiersprachen, probieren neue Lösungswege aus und arbeiten auch außerhalb des Unterrichts an kleinen eigenen Projekten. Dabei lernen wir nicht nur, wie Software entsteht, sondern auch, wie man logisch denkt, strukturiert plant und Probleme systematisch löst.</p>
            
            </div>
            
        </div> 


        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <div class="schluss">
            <a href="ueberuns">
                <button type="button" class="btn"><h6>Über uns</h6></button>
            </a>

            <p>&nbsp;</p>

            <div class="ig">
                <a href="https://www.instagram.com/quiz.hoot/"> 
                    <img src="static/images/ig.png" width="20px">
                </a> 

                <p>&nbsp;</p>

                <p>© 2026 QuizHoot, Inc.</p>
                
            </div>
        </div>
        

    </body>
</html>
